<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Color Picker</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <form class="color-form">
        <label>IP</label>
        <input type="text" class="ip" />
        <label>Color</label>
        <input type="text" class="colorpicker" />
        <button type="submit">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap-colorpicker.min.js"></script>
    <script src="javascripts/bundle.js"></script>
</body>
</html>
